::ng-deep .p-datatable .p-datatable-header{
    background-color: #00BCD4;
    color: whitesmoke;
    font-size: larger;

}
::ng-deep .p-datatable .p-datatable-thead > tr > th{
    background-color: white;
}
.pi{
    font-size: 18px;
}