<div class="w-full px-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
    <div class="md:col-span-2">
      <div class="card">
        <div class="card">
          <p-table
            [value]="products"
           
            [responsive]="true"
            styleClass="p-datatable-striped"
          >
            <ng-template pTemplate="caption"> Default </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Reviews</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price | currency : "USD" }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                  {{ product.Status }}
                </td>
                <td>{{ product.Reviews }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold">Check Payment</h1>
    </div>
  </div>
</div>
