<nav class="bg-cyan-500 shadow-lg sticky top-0 z-[9999]">
  <nav class="sticky z-[9999] top-0 w-full bg-cyan-500 shadow-lg">
    <div class="container mx-auto py-[5px] px-4">
      <div class="flex items-center justify-between h-16 w-[93%] mx-auto">
        <div class="flex items-center">
          <a routerLink="/" class="text-white text-lg font-bold"
            ><img src="../assets/Logo.png" class="w-[200px]" alt=""
          /></a>
        </div>
        <div class="flex md:hidden">
          <a
            routerLink="/add-to-cart"
            class="text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
              ><i class="pi pi-cart-plus"></i
          ></a>
        
          <button
            class="text-white hover:text-gray-300 focus:outline-none focus:text-white font-[600] text-[18px]"
            (click)="toggleMenu()"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
        <div class="hidden md:flex cursor-pointer">
          <a
            routerLink="/"
            class="text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
            >Home</a
          >
          <a
            routerLink="about"
            class="text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
            >About</a
          >
          <a
            routerLink="/contact"
            class="text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
            >Contact</a
          >
        </div>
        <div class="hidden md:flex gap-3">
          <a
            routerLink="/add-to-cart"
            class="text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
            ><i class="pi pi-cart-plus"></i
          ></a>
          <a
          *ngIf="!DataExist"
            class="text-white hover:text-gray-300 px-5 text-[18px] py-2 font-[600] bg-[#275e70] border border-blue-400 rounded-3xl"
           routerLink="/login" >Sign In</a

          >
         
          <div 
          *ngIf="DataExist"
          class="relative"
          (mouseenter)="showMenu = true"
          (mouseleave)="showMenu = false"
        >
          <button
            class="bg-gray-300 text-gray-800 py-2 px-4 rounded-md focus:outline-none "
          >
            {{ loggedInUser }}
            <svg
              class="w-5 h-5 ml-2 inline transform transition-transform"
              
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              [class.rotate-180]="showMenu"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="showMenu"
            class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10 transition-opacity delay-200"
          >
            <button
              class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
             
            >
            View User Profile
            </button>
            <button
              class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
              (click)="logOut()"
            >
              Logout
            </button>
          </div>
        </div>
        
        </div>
      </div>        
      <div [class.hidden]="!showMenu" class="md:hidden ml-[50px] mt-[20px]">
        <a
          routerLink=""
          class="block text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
          >Home</a
        >
        <a
          routerLink="/about"
          class="block text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
          >About</a
        >
        <a
          routerLink="/contact"
          class="block text-white hover:text-gray-300 px-3 py-2 font-[600] text-[18px]"
          >Contact</a
        >
        <a
        *ngIf="!DataExist"
          class="text-white hover:text-gray-300 px-5 text-[18px] py-2 font-[600] bg-[#275e70] border border-blue-400 rounded-3xl"
         routerLink="/login" >Sign In</a

        >
        <div
        *ngIf="DataExist"
        class="relative"
        (mouseenter)="showMenu = true"
        (mouseleave)="showMenu = false"
      >
        <button
          class="bg-gray-300 text-gray-800 py-2 px-4 rounded-md focus:outline-none"
        >
          {{ loggedInUser }}
          <svg
            class="w-5 h-5 ml-2 inline"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            [class.rotate-180]="showMenu"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>
        <div
          *ngIf="showMenu"
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
        >
          <button
            class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
            (click)="logOut()"
          >
            Logout
          </button>
          <button
            class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100"
            
          >
            View User Profile
          </button>
        </div>
      </div>
      
  </div>
    </div>
  </nav>
</nav>
