<div class="py-28 bg-gray-200">
  <div class="flex justify-center flex-wrap">
    <h1 class="text-3xl font-[600]">About Us</h1>
  </div>
  <div class="flex justify-center gap-1 flex-wrap">
    <h4
      class="hover:scale-110 duration-300 hover:text-cyan-500 cursor-pointer"
      routerLink=""
    >
      Home /
    </h4>
    <h4
      class=" duration-300 text-cyan-500 "
    
    >
      About
    </h4>
  </div>
</div>
<div class="w-full px-20 py-20 bg-white">
  <div class="grid grid-col-1 md:grid-cols-2 gap-4">
    <div>
      <h1 class="text-4xl font-[700] text-clip">
        We are a team of experience professional in their Specialties
      </h1>
      <p class="text-xl text-clip pt-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio,
        perferendis, magnam accusantium reiciendis assumenda repellat in qui,
        quos dolor esse quibusdam illum necessitatibus labore officia tempore
        modi placeat dolores!
      </p>
      <p class="text-xl text-clip py-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio,
        perferendis, magnam accusantium reiciendis assumenda repellat in qui,
        quos dolor esse quibusdam illum necessitatibus labore officia tempore
        modi placeat dolores!
      </p>
      <div class="flex flex-wrap justify-start gap-20">
        <h1 class="text-4xl font-[800]">367+
            <p class="text-lg font-[500]">SUCCEEDED PROJECT</p>
        </h1>
        <h1 class="text-4xl font-[800]">500+
            <p class="text-lg font-[500]">HAPPY CLIENT</p>
        </h1>
        <h1 class="text-4xl font-[800]">12+
            <p class="text-lg font-[500]">YEARS OF EXPERIENCE</p>
        </h1>
      </div>
    
    </div>
    <div>
      <img src="../assets/about.jpg" alt="" />
    </div>
  </div>
</div>
<div class="py-28 bg-gray-200">
    <div class="flex justify-center flex-wrap">
      <h1 class="text-3xl font-[600] pb-10">Our Creative, a Rockin' Team</h1>
    </div>
    <div class="w-full px-20 px- grid sm:grid-cols-2 md:grid-cols-4 gap-5 border rounded-lg shadow-lg">
        <div><img src="../assets/team1e.jpg" class="h-[600px] w-full  object-cover rounded-lg" alt=""></div>
        <div><img src="../assets/team2e.jpg" class="h-[600px] w-full  object-cover rounded-lg" alt=""></div>
        <div><img src="../assets/team3e.jpg"class="h-[600px] w-full  object-cover rounded-lg" alt=""></div>
        <div><img src="../assets/team4e.jpg"class="h-[600px] w-full  object-cover rounded-lg" alt=""></div>
    </div>
 
  </div>
