
<div class="w-[93%] mx-auto ">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
    <div>
      <form class="mt-4" (ngSubmit)="onSubmit()" #checkoutForm="ngForm">
        <h1 class="text-2xl font-bold mb-4">Shipping Address</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="block text-sm font-medium text-gray-700">Name</label>
            <input
              type="text"
              class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
              placeholder="John Doe"
              name="name"
              [(ngModel)]="checkOut.name"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Email</label>
            <input
              type="email"
              class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
              placeholder="john@example.com"
              name="email"
              [(ngModel)]="checkOut.email"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Phone No</label
            >
            <input
              type="tel"
              class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
              placeholder="123-456-7890"
              name="phoneNo"
              [(ngModel)]="checkOut.phoneNo"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Address</label
            >
            <input
              type="text"
              class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
              placeholder="123 Main St"
              name="address"
              [(ngModel)]="checkOut.address"
            />
          </div>
          <div class="md:col-span-2">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <div>
                <label class="mb-2 block text-sm font-medium text-gray-700"
                  >State</label
                >
                <p-dropdown
                  [options]="states"
                  [(ngModel)]="checkOut.selectedStates"
                  name="name"
                ></p-dropdown>
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Postal Code</label
                >
                <input
                  type="text"
                  class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
                  placeholder="12345"
                  name="postalCode"
                  [(ngModel)]="checkOut.postalCode"
                />
              </div>
            </div>
          </div>
        </div>
        <h1 class="text-2xl font-bold mb-4 mt-4">Payment Method</h1>

        <div class="flex flex-wrap justify-between">
          <div class="p-3 w-[60%] flex justify-between gap-3 border rounded-lg">
            <div class="flex align-items-center">
              <p-radioButton
                name="Card"
                value="Card"
                [(ngModel)]="checkOut.cash"
                inputId="ingredient1"
                (ngModelChange)="showCard()"
              ></p-radioButton>
              <label for="ingredient1" class="ml-2">Credit/Debit</label>
            </div>
            <div>
              <img src="/../assets/credit.jpg" class="w-[50px] h-7" alt="" />
            </div>
          </div>

          <div class="flex align-items-center p-3">
            <p-radioButton
              name="pizza"
              value="Mushroom"
              [(ngModel)]="checkOut.cash"
              inputId="ingredient2"
              (ngModelChange)="offCard()"
            ></p-radioButton>
            <label for="ingredient2" class="ml-2">On Delivery</label>
          </div>
        </div>
        <div class="py-3" *ngIf="cardNo">
          <label class="block text-sm font-medium text-gray-700">Card No</label>
          <input
            type="tel"
            class="mt-2 appearance-none border rounded w-[60%] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-cyan-500"
            placeholder="123-456-7890"
            name="phoneNo"
            [(ngModel)]="checkOut.phoneNo"
          />
        </div>
        <div class="flex flex-wrap pt-4 gap-5" *ngIf="cardNo">
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2"
              >Expire Date</label
            >
            <p-calendar
              [(ngModel)]="checkOut.date"
              [showIcon]="true"
            ></p-calendar>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Security Code</label
            >
            <input
              type="text"
              class="mt-2 py-3 pl-2 form-input border rounded sm:w-[171px] focus:outline-none focus:shadow-outline focus:border-cyan-500"
              placeholder="12345"
            />
          </div>
        </div>
        <div class="pt-5 text-center">
          <button
            class="bg-cyan-500 w-[50%] py-2 rounded-lg text-white text-xl font-bold"
          >
            Place order
          </button>
        </div>
      </form>
    </div>
    <div class="mx-auto my-auto">
      <div class=" py-5 bg-white border px-4 flex flex-col gap-4">
        <div class="flex">
          <div class="flex gap-2 pb-3">
            <i class="py-1 pi pi-cart-plus"></i>
            <h1 class="text-2xl font-bold">Cart Summary</h1>
          </div>
          <p class="pt-2 text-sm">(<span class="text-cyan-500">Edit</span>)</p>
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <h1 class="text-lg font-bold">1 x Maker The Egency Theme</h1>
            <p class="text-gray-400">
              Amazing UI kit pocket perfect for you next project
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">$49.99</h1>
          </div>
        </div>
        <div class="border"></div>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <h1 class="text-lg font-bold">1 x Maker The Egency Theme</h1>
            <p class="text-gray-400">
              Amazing UI kit pocket perfect for you next project
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">$49.99</h1>
          </div>
        </div>
        <div class="border"></div>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <h1 class="text-lg font-bold">1 x Maker The Egency Theme</h1>
            <p class="text-gray-400">
              Amazing UI kit pocket perfect for you next project
            </p>
          </div>
          <div>
            <h1 class="text-lg font-bold">$49.99</h1>
          </div>
        </div>
        <div class="border"></div>
        <div class="flex justify-end">
          <h1 class="text-xl">Grand Total: <span class="text-xl font-bold">$192.99</span> </h1>
        </div>
      </div>
    </div>
  </div>
</div>

