<div class="bg-slate-900">
  <div
    class="w-[93%] mx-auto grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10  px-10"
  >
    <div>
      <h2 class="text-2xl font-bold py-10 text-gray-200">Our Company</h2>
      <p class="text-clip text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        molestiae distinctio necessitatibus optio hic obcaecati, ea ex eum
        praesentium rerum suscipit doloremque perferendis alias deleniti facere
        accusantium, ab excepturi est sed! Provident, cumque neque.
      </p>
    </div>
    <div>
      <h2 class="text-2xl font-bold py-10 text-gray-200">Quick Links</h2>
      <div class="flex flex-col gap-2 text-gray-400 ">
        <a href="">Home</a> 
        <a href="">Contact</a>
        <a href="">Info</a>
        <a href="">Blog</a>
      </div>
    </div>
    <div><h2 class="text-2xl font-bold py-10 text-gray-200">Our Services</h2>
        <div class="flex flex-col gap-2 text-gray-400 ">
            <p>Web Development</p>
            <p>SEO Services</p>
            <p>BPO Services</p>
            <p>Digital Marketing</p>
          </div>
    </div>
    <div><h2 class="text-2xl font-bold py-10 text-gray-200">Contact Info</h2>
        <div class="flex flex-col gap-4 text-gray-400">
            <p><span><i class="pi pi-envelope pr-2"></i></span> Ecommerce123@gmail.com</p>
            <p><i class="pi pi-phone pr-2"></i>+92 4432113434/+92 33235592245</p>
            <p> <i class="pi pi-map-marker pr-2"></i> 95 J1-, Block J1 Block J 1 Phase 2 Johar Town, Lahore, Punjab 54600</p>
        </div>
          </div>

    
  </div>
  <div class="flex gap-5 sm:justify-between flex-wrap w-[93%] px-[90px] py-10">
    <p class="text-gray-400"><span class="text-cyan-500 pr-1 italic">Shoply</span>@All right Reserved</p>
    
    <p class="text-gray-400 "><i class="pi pi-whatsapp px-3"></i> <i class="pi pi-youtube px-3"></i> <i class="pi pi-twitter px-3"></i> <i class="pi pi-telegram px-3"></i></p>
</div>
</div>
