.ll-feature {
    margin-top: 150px;
  }
  
  ._title {
    padding: 40px;
    font-size: 2rem;
  }
  
  ._title-wrap {
    margin-top: -100px;
  }
  
  ._feature h2 {
    font-size: 1.1rem;
    line-height: 28px;
    letter-spacing: 0.3px;
  }
  .pi{
    font-size: 30px;
}