<div class="ll-feature bg-warn  pb-14 bg-yellow-400">
    <div class="container ">
        <div class="grid grid-cols-12 gap-8 mx-[9px]">
            <div class="bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3 mt-[-51px] mb-[51px] ml-[13px] mr-[13px] ">
                <h2 class="_title text-white px-4 py-2 ">
                    Yours
                    Benefits
                    A. Digital
                    Desirable
                    work Lieblings
                </h2>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                     <i class="pi pi-check"></i>  
                    </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">MICRO SERVICE AT A FIXED PRICE</h2>
                </div>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                        <i class="pi pi-check"></i>  
                       </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">NO SALES TALK OR JOURNEY</h2>
                </div>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                        <i class="pi pi-check"></i>  
                       </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">WHAT YOU ARE BUYING IS CLEARLY STATED</h2>
                </div>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                        <i class="pi pi-check"></i>  
                       </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">EXECUTION AFTER WORK IS POSSIBLE</h2>
                </div>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                        <i class="pi pi-check"></i>  
                       </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">EXECUTION POSSIBLE ON WEEKENDS</h2>
                </div>
            </div>
            <div class="flex mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <div class="w-6 h-6 text-black">
                        <i class="pi pi-check"></i>  
                       </div>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">WE OPERATE THEM 100% DIGITALLY</h2>
                </div>
            </div>
        </div>
    </div>
</div>
