<p-galleria
  [value]="data"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '100%', height: '500px' }"
  [numVisible]="5"
  [circular]="true"
  [autoPlay]="true"
  [showThumbnails]="false"
  [showItemNavigators]="true"
  [showItemNavigatorsOnHover]="true"
  [transitionInterval]="3000"
>
  <ng-template pTemplate="item" let-item>
    <img class="w-full block h-[600px]" [src]="item.previewImageSrc" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" style="display: block" />
    </div>
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h4 style="margin-bottom: 0.5rem; color: #ffffff">{{ item.title }}</h4>
    <p>{{ item.alt }}</p>
  </ng-template>
</p-galleria>
